<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= todo.text %></title>
  </head>
  <body>
    <a href="/">Seznam ToDos</a>

    <hr />

    <div id="todo"><%- include('_todo') %></div>

    <hr />

    <form action="/edit/<%= todo.id %>" method="post">
      <input type="text" name="text" value="<%= todo.text %>" />
      <button type="submit">Upravit ToDo!</button>
    </form>

    <script>
      const ws = new WebSocket('ws://localhost:3000')

      ws.addEventListener('message', (message) => {
        const json = JSON.parse(message.data)

        if (json.type === 'todo' && json.id === Number('<%= todo.id %>')) {
          document.getElementById('todo').innerHTML = json.html
        } else if (json.type === 'delete' && json.id === Number('<%= todo.id %>')) {
          window.location = '/'
        }
      })
    </script>
  </body>
</html>
